.containerInfoPokemon{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
}


.headerInfoPokemon{
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.headerInfoPokemon h3{
  margin-right: 10px;
}

.namePokemonModal{
  font-size: 40px;
}

@media (max-width:400px) {
  .headerInfoPokemon h3{
    margin-left: -20px;
    margin-top: 5px;
    font-size: 20px;
  }

  .headerInfoPokemon .typePokemon{
    width: 45px;
    font-size: 10px; /*pendiente */
  }

  .appearancePokemon h2{
    width: 100%;
    font-size: 20px;
  }

  .containerRealisticImgs{
    max-height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .movePokemon{
    max-width: 90%;
  }

  .containerEvolution{
    flex-direction: column;
  }

  .areaEncounterPokemon{
    max-width: 300px;
  }
  
  .closeModal{
    top: 15px;
  }
}

.appearancePokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-width: 100px;
}

@media (max-width:805px) {

  .appearancePokemon{
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }

  .appearancePokemon h2{
    width: 100%;
    font-size: 30px;
  }

  .appearancePokemon img{
    max-width: 300px ;
    object-fit: cover;
  }

  .appearancePokemon img + img {
    display: inline-flex;
  }
  
  
  .containerMoves{
    width: 100%;
  }

}

.appearancePokemon img{
  width: 90%;
  object-fit: cover;
}


.appearancePokemon h2{
  margin-left: 10px;
}

.typePokemon{
  margin: 30px 0px 20px 5px; 
  width: 100px;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 20px;
  text-align: center;
}

.containerRealisticImgs{
  display: flex;
  flex: 1 1 600px;
  height: 440px;
  max-height: 440px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.containerRealisticImgs img{
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.containerMoves {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-top: 5px;
  gap: 5px;
  flex: 1 1 400px;
  max-height: 440px;
  overflow-y: auto; 
  background-color: black;
}


.movePokemon {
  width: 90%;
  position: relative;
  padding: 10px;
  min-height: 95px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5px;
}

@media (max-width: 960px) {
  .movePokemon{
    width: 95%;
  }
}

.movePokemon h3{
  font-size: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 5px;
}

.movePokemon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 1);
}

.movePokemon p {
  font-size: 90% ;
  margin: 0;
  margin-bottom: 5px; 
}

.special::after{
  content: url("../imgs/special.png");
}

.physical::after{
  content: url("../imgs/physical.png");
}

.status::after{
  content: url("../imgs/status.png");
}


.containerMoves::-webkit-scrollbar {
  width: 6px; 
}

.containerMoves::-webkit-scrollbar-thumb {
  background-color: #3f3d3d21; 
  border-radius: 4px; 
}

.containerMoves::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.containerMoves::-webkit-scrollbar-track {
  background-color: #f2f2f2; 
  border-radius: 4px;
}


.containerMoves::-webkit-scrollbar-corner {
  background: transparent;
}

.movePokemon:last-child {
  margin-bottom: 0; 
}

.closeModal {
  position: absolute;
  right: 5px;
  font-size: 20px;
  cursor: pointer;
  z-index: 20;
}

body.modal-open {
  overflow: hidden;
}


.containerLocationAreaEncounters{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}

.titleAreas{
  width: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: black;
  padding: 15px;
  padding-left: 0;
  padding-right: 0;
}

.imgTitleAreas{
  width: 50px;
  height: 50px;
  background-image: url("../imgs/iconMap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
}

.areaEncounterPokemon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

.areaEncounterPokemon + .areaEncounterPokemon{
  border-top: 1px solid black;
}

.unknownLocation,.areaEncounterPokemon p{
  padding: 10px;
  display: flex;
  font-weight: bold;
  justify-content: center;
}

.containerDebilities{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 169);
  border: 1px solid black;
}

.containerDebilities h3{
  width: 100%;
  text-align: left;
  color: white;
  background-color: black;
  padding: 10px;
  display: block;
  font-size: 30px;
}

.containerDebilities .typePokemon{
  margin-right: 20px;
  padding: 10px;
  font-size: 15px;
}

.containerEvolution{
  display: flex;
  padding: 35px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  border-top: 0;
  font-size: 20px;
}

.evolutionName {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.evolutionName:hover {
  border: 1px solid #3c464d;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(144, 144, 150);
}


.evolutionMethod{
  display: none;
}

.evolutionName + .evolutionMethod {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-size: 13px;
  z-index: 10;
}

.evolutionName + .evolutionMethod .arrow {
  position: absolute;
  width: 150px; 
  height: 150px; 
  background-image: url('../imgs/arrowBlack.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 35px;
  z-index: -1;
}

