.contentResult {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.contentPokemons {
  width: 875px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background-color: white;
  align-content: flex-start;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

.cartPokemon {
  width: 167px;
  height: 200px;
  display: flex;
  margin: 40px;
  margin-right: 0;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: stretch;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.frontSide,
.backSide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}



 .frontSide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.frontSide .pokemonNumber {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #555555;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.frontSide .numberLabel {
  margin-right: 5px;
  font-size: 14px;
  color: #999999;
}

.backSide {
  background-color: rgb(144, 144, 150);
  font-family: 'Bacasime Antique', serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: none;
}

.cartPokemon:hover {
  transform: rotateY(180deg);
}

.cartPokemon:hover .frontSide {
  display: none;
}

.cartPokemon:hover .backSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backSide {
  display: flex;
  padding: 5px 10px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.backSide .typePokemon{
  font-size: 18px;
  letter-spacing: 2px;
}

.backSide .typePokemon + .typePokemon{
  margin: -20px;
}

.none {
  display: none;
}
